.projects-section {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  max-width: 35rem;
}

.projects-section p {
  font-size: 16px;
  line-height: 22px;
  color: aliceblue;
  white-space: wrap;
  text-align: center;
}

.projects-section a {
  display: flex;
  font-size: 1.25rem;
  color: var(--color-aqua);
  align-items: center;
  height: 2rem;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.projects-section a svg path {
  fill: var(--color-aqua);
}

.projects-section a span {
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
  transition: transform 0.3s ease;
}

.projects-section a:hover span {
  transform: translateX(0.5rem);
}
