.projects-sec {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  max-width: 35rem;
  gap: 2rem;
}

.projects-sec p {
  font-size: 1rem;
  line-height: 1.4rem;
  color: aliceblue;
  text-align: center;
}

.projects-sec a {
  display: flex;
  align-items: center;
  height: 2rem;
  font-size: 1.25rem;
  color: var(--color-aqua);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.projects-sec a svg path {
  fill: var(--color-aqua);
}

.projects-sec a span {
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
  transition: transform 0.3s ease;
}

.projects-sec a:hover span {
  transform: translateX(0.5rem);
}

@media (max-width: 1024px) {
  .projects-sec {
    gap: 1.5rem;
  }

  .projects-sec p {
    max-width: 30rem;
  }

  .projects-sec a {
    font-size: 1.125rem;
  }

  .projects-sec a span {
    margin-left: 0.3rem;
  }

  .projects-sec a:hover span {
    transform: translateX(0.4rem);
  }
}

@media (max-width: 767px) {
  .projects-sec {
    gap: 1rem;
  }

  .projects-sec p {
    max-width: 25rem;
  }

  .projects-sec a {
    font-size: 1.125rem;
  }
}
