.layout {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.layout-container {
  flex: 1;
  display: flex;
  background-color: transparent;
  align-items: center;
  justify-content: center;
}
