.buildsync-sec {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 4rem;
}

.buildsync-sec__ipad {
  max-height: 28rem;
  flex-shrink: 0;
  transition: filter 300ms ease;
}

.buildsync-sec__ipad:hover {
  filter: drop-shadow(var(--shadow-aqua));
}

.buildsync-sec__headline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  max-width: 35rem;
}

.buildsync-sec__headline h1 {
  line-height: 4rem;
  color: aliceblue;
}

.buildsync-sec__headline p {
  font-size: 1.125rem;
  line-height: 1.6;
  color: aliceblue;
}

.buildsync-sec__headline p strong {
  color: var(--color-lava);
}

.buildsync-sec__headline a {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  color: var(--color-aqua);
  text-decoration: none;
}

.buildsync-sec__headline a span {
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
  transition: transform 300ms ease;
}

.buildsync-sec__headline a:hover span {
  transform: translate(0.5rem);
}

@media (max-width: 1024px) {
  .buildsync-sec__headline {
    gap: 3rem;
    max-width: 100%;
  }

  .buildsync-sec__headline h1 {
    line-height: 2.5rem;
  }

  .buildsync-sec__headline p {
    font-size: 1rem;
    line-height: 1.3;
  }

  .buildsync-sec__headline a {
    font-size: 1.125rem;
  }

  .buildsync-sec__image {
    max-height: 25rem;
  }
}

@media (max-width: 767px) {
  .buildsync-sec {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  .buildsync-sec__headline {
    gap: 1.5rem;
    max-width: 100%;
    order: 1;
  }

  .buildsync-sec__headline h1 {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }

  .buildsync-sec__headline p {
    font-size: 1rem;
    line-height: 1.3;
  }

  .buildsync-sec__headline a {
    font-size: 1.125rem;
  }

  .buildsync-sec__image {
    max-height: 18rem;
  }
}
