.about-sec {
  display: flex;
  align-items: center;
  height: 100%;
  width: fit-content;
  scroll-margin-top: 80px;
}

.about-sec__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin-right: 5rem;
}

.about-sec__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  max-width: 25rem;
}

@media (max-width: 1024px) {
  .about-sec__header {
    margin-right: 2rem;
    max-width: 100%;
  }

  .about-sec__content {
    gap: 1rem;
  }
}

@media (max-width: 767px) {
  .about-sec {
    flex-direction: column;
    align-items: flex-start;
    height: fit-content;
  }

  .about-sec__header {
    margin: 0 0 2rem 0;
  }

  .about-sec__content {
    gap: 1.2rem;
    max-width: 100%;
  }
}
