#about {
  display: flex;
  width: fit-content;
  align-items: center;
  height: 100%;
}

.about-underline {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: fit-content;
  height: 100%;
  margin-right: 5rem;
}

.about-underline h1 {
  font-size: 2.25rem;
  font-weight: 700;
  color: aliceblue;
}

.about-headline {
  display: flex;
  flex-direction: column;
  min-width: 40rem;
  justify-content: center;
  height: 100%;
}

.about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  max-width: 25rem;
}

.ref {
  width: 0;
}
