.about-sec {
  display: flex;
  align-items: center;
  height: 100%;
  width: fit-content;
  scroll-margin-top: 80px;
  position: relative;
  background-size: 0;
}

.about-sec::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: inherit;
  background-position: left -10% center;
  background-repeat: no-repeat;
  background-size: 600px;
  opacity: 0.3;
  z-index: 0;
  pointer-events: none;
}

.about-sec__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin-right: 5rem;
  position: relative;
  z-index: 1;
}

.about-sec__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  max-width: 25rem;
  position: relative;
  z-index: 1;
}

@media (max-width: 1024px) {
  .about-sec::before {
    background-size: 400px;
    background-position: left 10% center;
  }

  .about-sec__header {
    margin-right: 2rem;
    max-width: 100%;
  }

  .about-sec__content {
    gap: 1rem;
  }
}

@media (max-width: 767px) {
  .about-sec {
    flex-direction: column;
    align-items: flex-start;
    height: fit-content;
  }

  .about-sec::before {
    background-size: 300px;
    background-position: center;
  }

  .about-sec__header {
    margin: 0 0 2rem 0;
  }

  .about-sec__content {
    gap: 1.2rem;
    max-width: 100%;
  }
}
