.about {
  display: flex;
  width: fit-content;
  align-items: center;
  height: 100%;
}

.about__header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  margin-right: 5rem;
  max-width: 40rem;
}

.about__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  max-width: 25rem;
}

.about__scroll-target {
  width: 0;
}

@media (max-width: 1024px) {
  .about__header {
    margin-right: 2rem;
    max-width: 30rem;
  }

  .about__content {
    gap: 1rem;
  }
}

@media (max-width: 767px) {
  .about {
    flex-direction: column;
  }
}
