.project__kanban {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.project__kanban-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  max-width: 30rem;
  flex-shrink: 0;
}

.project__kanban-header p {
  font-size: 18px;
  line-height: 24px;
  color: aliceblue;
  text-align: center;
}

.project__kanban-header p strong {
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  color: var(--color-aqua);
  text-align: center;
}

.project__kanban-images {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  position: relative;
}

.project__kanban-images .taskly-laptop {
  max-width: 40rem;
  margin-right: 5rem;
  height: auto;
  z-index: 1;
  filter: none;
  transition: filter 0.3s ease;
}

.project__kanban-images .taskly-laptop:hover {
  filter: drop-shadow(var(--neon-aqua));
}

.phone-container {
  position: absolute;
  right: -3.5rem;
  bottom: -3rem;
  z-index: 2;
  width: fit-content;
  height: fit-content;
}

.project__kanban-images .taskly-phone {
  height: auto;
  max-width: 23rem;
  transform: rotate(-25deg);
  height: auto;
  z-index: 2;
  filter: drop-shadow(var(--shadow-black));
  transition: filter 0.3s ease;
}

.project__kanban-images .taskly-phone:hover {
  filter: drop-shadow(var(--neon-aqua));
}
