#skills {
  display: flex;
  width: 100vw;
  background-color: blue;
  padding: 0;
  display: flex;
}

.skills-container {
  display: flex;
  height: 100%;
  width: 300vw;
  padding: 0;
  overflow-x: hidden;
  align-items: center;
}

.snap-section.skills .skill {
  width: 100vw;
  height: 80vh;
  background-color: var(--color-aqua);
  color: black;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  flex-shrink: 0;
}
