.skills-sec {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  gap: 1.5rem;
}

.skills-sec__underline {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  max-width: 70rem;
  padding: 0 4rem;
}

.skills-sec__underline h1 {
  text-align: center;
}

.skills-sec__underline p {
  font-size: 1rem;
  line-height: 1.4rem;
  color: aliceblue;
  text-align: center;
}

.skills-sec__underline a {
  color: var(--color-link);
  font-weight: 500;
  text-decoration: none;
  transition:
    color 0.3s ease,
    text-decoration 0.3s ease;
}

.skills-sec__underline a:hover {
  color: var(--color-aqua);
  text-decoration: underline;
}

.skills-sec__items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-width: 37rem;
  max-width: 70rem;
}

@media (max-width: 1024px) {
  .skills-sec {
    gap: 1.2rem;
  }

  .skills-sec__underline {
    gap: 1.2rem;
    padding: 0 3rem;
  }

  .skills-sec__underline p {
    line-height: 1.3rem;
  }

  .skills-sec__items {
    min-width: 30rem;
    max-width: 50rem;
  }
}

@media (max-width: 767px) {
  .skills-sec {
    gap: 1rem;
  }

  .skills-sec__underline {
    gap: 1rem;
    padding: 0 1rem;
  }

  .skills-sec__underline p {
    font-size: 0.8rem;
    line-height: 1.1rem;
    max-width: 40rem;
  }

  .skills-sec__items {
    min-width: 100%;
    max-width: 30rem;
  }
}
