#skills {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.skills-underline {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: fit-content;
  gap: 2rem;
  max-width: 35rem;
  flex-shrink: 0;
}

.skills-underline p {
  font-size: 16px;
  line-height: 22px;
  color: aliceblue;
  white-space: wrap;
  text-align: center;
}

.skills-underline a {
  color: var(--color-link);
  font-weight: 500;
  text-decoration: none;
  transition:
    color 0.3s ease,
    text-decoration 0.3s ease;
}

.skills-underline a:hover {
  text-decoration: underline;
  color: var(--color-aqua);
}

.skills {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 37rem;
  max-width: 70rem;
}

.ref {
  width: 0;
}
