.skills {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 4rem 12.5rem 0;
}
