.snap-section.skills {
  display: flex;
  height: 100px;
  width: 100%;
  background-color: blue;
  overflow-x: hidden;
}

.snap-section.skills .skill {
  width: 100vw;
  height: 80vh;
  background-color: var(--color-aqua);
  color: black;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  flex-shrink: 0;
}
