.mgdev-sec {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 0;
}

.mgdev-sec__headline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  max-width: 35rem;
  margin-right: 2rem;
}

@media (max-width: 1024px) {
  .mgdev-sec__headline {
    gap: 3rem;
    max-width: 100%;
  }
}

@media (max-width: 767px) {
  .mgdev-sec {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  .mgdev-sec__headline {
    gap: 1.5rem;
    max-width: 100%;
    order: 1;
  }
}
