.old-sec {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 4rem;
}

.old-sec__ipad {
  max-height: 28rem;
  flex-shrink: 0;
  transition: filter 300ms ease;
}

.old-sec__ipad:hover {
  filter: drop-shadow(var(--shadow-aqua));
}

.old-sec__headline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  max-width: 35rem;
}

@media (max-width: 1024px) {
  .old-sec__headline {
    gap: 3rem;
    max-width: 100%;
  }

  .old-sec__image {
    max-height: 25rem;
  }
}

@media (max-width: 767px) {
  .old-sec {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  .old-sec__headline {
    gap: 1.5rem;
    max-width: 100%;
    order: 1;
  }

  .old-sec__image {
    max-height: 18rem;
  }
}
