:root {
  --navbar-height: 5.5rem;
  --sidebar-width: 7.8rem;

  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
  --font-extrabold: 800;
  --font-black: 900;

  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-2xl: 1.5rem;
  --font-size-3xl: 1.875rem;
  --font-size-4xl: 2.25rem;
  --font-size-5xl: 3rem;
  --font-size-6xl: 3.75rem;
  --font-size-7xl: 4.5rem;
  --font-size-8xl: 6rem;
  --font-size-9xl: 8rem;

  --hl-font-size: 60px;
  --hl-font-weight: 600;
  --hl-line-height: 50px;

  --bg-color: #141416;
  --color-aqua: #66ccff;
  --shadow-aqua: 5px 5px 10px #66ccff33;
  --color-link: #3358ff;
}
