.about-paragraph {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.about-paragraph h2 {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--color-aqua);
}

.about-paragraph p {
  font-size: 1rem;
  line-height: 1.4rem;
  color: aliceblue;
}

@media (max-width: 1024px) {
  .about-paragraph {
    gap: 0.125rem;
  }

  .about-paragraph h2 {
    font-size: 1rem;
  }

  .about-paragraph p {
    font-size: 0.8rem;
    line-height: 1rem;
  }
}
