.snap-section {
  height: 100vh;
  width: 100%;
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.snap-section[data-horizontal="true"] {
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
}

.snap-section > div {
  height: fit-content;
  width: fit-content;
}

.snap-section img {
  width: 100%;
  height: 100%;
}

@media (max-width: 500px) {
  .snap-section > div {
    width: 150px;
    height: 200px;
  }

  .snap-section img {
    width: 150px;
    height: 200px;
  }
}

.img-container h2 {
  color: #8df0cc;
  margin: 0;
  font-family: "Azeret Mono", monospace;
  font-size: 50px;
  font-weight: 700;
  letter-spacing: -3px;
  line-height: 1.2;
  position: absolute;
  display: inline-block;
  top: calc(50% - 25px);
  left: calc(50% + 120px);
}
