/* .snap-container {
  height: auto;
  width: 100vw;
  overflow: visible;
}

.snap-section {
  min-height: 100vh;
  min-width: 1366px;
  display: flex;
  align-items: center;
  justify-self: center;
  justify-content: space-between;
  font-size: 3rem;
  padding: 0 2.5rem 0 2.5rem;
}

.snap-section {
  display: flex;
} */

html {
  scroll-snap-type: y mandatory;
}

.snap-section {
  height: 100vh;
  width: 100%;
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.snap-section > div {
  height: fit-content;
  width: fit-content;
  overflow: hidden;
}

.snap-section img {
  width: 100%;
  height: 100%;
}

@media (max-width: 500px) {
  .snap-section > div {
    width: 150px;
    height: 200px;
  }

  .snap-section img {
    width: 150px;
    height: 200px;
  }
}

.img-container h2 {
  color: #8df0cc;
  margin: 0;
  font-family: "Azeret Mono", monospace;
  font-size: 50px;
  font-weight: 700;
  letter-spacing: -3px;
  line-height: 1.2;
  position: absolute;
  display: inline-block;
  top: calc(50% - 25px);
  left: calc(50% + 120px);
}
