.snap-container {
  height: 100%;
  width: 100vw;
  overflow-y: scroll;
}

.snap-section {
  min-height: 100vh;
  min-width: 1366px;
  display: flex;
  align-items: center;
  justify-self: center;
  justify-content: space-between;
  font-size: 3rem;
  padding: 0 10rem 0 4rem;
}

.snap-section {
  display: flex;
}
