.contact-sec {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.contact-sec p {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  max-width: 30rem;
  font-size: 1rem;
  line-height: 1.4rem;
  color: aliceblue;
  text-align: center;
}

.contact-sec__email {
  display: flex;
  align-items: center;
  font-size: 1.75rem;
  font-weight: 700;
  color: var(--color-lava);
  text-decoration: none;
  transition: color 0.3s ease;
}

.contact-sec__email:hover {
  color: aliceblue;
}

.contact-sec__socials {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  margin-top: 1rem;
}

.contact-sec__socials a {
  width: fit-content;
  height: fit-content;
  transition: filter 0.3s ease;
}

.contact-sec__socials a:hover {
  filter: brightness(120%) drop-shadow(var(--neon-aqua));
}

.contact-sec__socials a svg {
  width: 2.5rem;
  height: 2.5rem;
  color: var(--color-aqua);
  transition: transform 0.3s ease;
}

.contact-sec__socials a:hover svg {
  transform: scale(1.2);
}

@media (max-width: 1024px) {
  .contact-sec p {
    padding: 1.5rem 0;
  }

  .contact-sec__email {
    font-size: 1.5rem;
  }

  .contact-sec__socials a svg {
    width: 2.2rem;
    height: 2.2rem;
  }
}

@media (max-width: 767px) {
  .contact-sec p {
    padding: 1rem 0;
    font-size: 0.9rem;
  }

  .contact-sec__email {
    font-size: 1.2rem;
  }

  .contact-sec__socials a svg {
    width: 2rem;
    height: 2rem;
  }
}
