.contact {
  display: flex;
  height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.contact p {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  text-align: center;
  font-size: 1rem;
  line-height: 1.4rem;
  color: aliceblue;
  max-width: 30rem;
}

.email-link {
  color: var(--color-lava);
  text-decoration: none;
  font-size: 1.75rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  transition: color 0.3s ease;
}

.email-link:hover {
  color: aliceblue;
}

.socials {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  align-items: center;
  justify-content: start;
  height: fit-content;
}

.socials a {
  height: fit-content;
  width: fit-content;
  filter: none;
  transition: filter 0.3s ease;
}

.socials a:hover {
  filter: brightness(120%) drop-shadow(var(--neon-aqua));
}

.socials a svg {
  color: var(--color-aqua);
  height: 2.5rem;
  width: 2.5rem;
  transition: transform 0.3s ease;
}

.socials a:hover svg {
  transform: scale(1.2);
}

@media (max-width: 1024px) {
  .contact p {
    padding: 1.5rem 0;
  }

  .email-link {
    font-size: 1.5rem;
  }

  .socials {
    gap: 1rem;
    margin-top: 1rem;
  }

  .socials a svg {
    height: 2.2rem;
    width: 2.2rem;
  }
}

@media (max-width: 767px) {
  .contact p {
    padding: 1rem 0;
    font-size: 0.9rem;
  }

  .email-link {
    font-size: 1.2rem;
  }

  .socials {
    gap: 1rem;
    margin-top: 1rem;
  }

  .socials a svg {
    height: 2rem;
    width: 2rem;
  }
}
