.taskly-sec {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 100vw;
  height: 100%;
}

.taskly-sec__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  flex-shrink: 0;
  min-width: 15rem;
  max-width: 25rem;
  gap: 1rem;
}

.taskly-sec__header p {
  font-size: 18px;
  line-height: 24px;
  color: aliceblue;
  text-align: center;
}

.taskly-sec__header p strong {
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  color: var(--color-aqua);
}

.taskly-sec__images {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 1rem;
}

.taskly-sec__images .taskly-laptop {
  width: clamp(16rem, 40vw, 40rem);
  height: auto;
  margin-right: clamp(1rem, 5vw, 5rem);
  z-index: 1;
  transition:
    filter 0.3s ease,
    transform 0.3s ease;
}

.taskly-sec__images .taskly-phone {
  position: absolute;
  right: -2rem;
  bottom: -1rem;
  width: clamp(9rem, 20vw, 20rem);
  height: auto;
  filter: drop-shadow(var(--shadow-black));
  transition:
    filter 0.3s ease,
    transform 0.3s ease;
  z-index: 2;
}

.taskly-sec__images:hover .taskly-laptop {
  filter: drop-shadow(var(--neon-aqua));
  transform: scale(1.1);
}

.taskly-sec__images:hover .taskly-phone {
  filter: drop-shadow(var(--neon-aqua));
  transform: scale(1.1) translateX(2rem);
}
