.sidebar {
  width: var(--sidebar-width);
  height: 100vh;
  background-color: transparent;
  position: fixed;
  right: 2rem;
  top: var(--navbar-height);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 6rem;
}

.sidebar-item {
  padding: 1.5rem;
  border-right: 2px solid aliceblue;
  color: aliceblue;
  font-family: "Source Sans 3", sans-serif;
  font-size: var(--font-size-md);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sidebar-item.active {
  border-right: 4px solid aliceblue;
}
