.sidebar {
  position: fixed;
  right: 2rem;
  top: var(--navbar-height);

  height: calc(100vh - var(--navbar-height));

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;

  padding-top: 6rem;
  z-index: 2000;

  text-shadow: 1px 1px 5px black;
}

.sidebar-item {
  padding: 0.8rem 1rem;

  border-right: 2px solid aliceblue;
  color: aliceblue;

  font-family: "Source Sans 3", sans-serif;
  font-size: 12px;
  text-decoration: none;

  transition:
    border-width 0.2s ease,
    opacity 0.2s ease;
}

.sidebar-item:hover {
  border-right-width: 3px;
  opacity: 0.8;
}

.sidebar-item.active {
  border-right-width: 4px;
}
