@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

.navbar {
  height: var(--navbar-height);
  width: 100vw;
  display: flex;
  padding: 0 2rem;
  position: fixed;
  justify-content: space-between;
  align-items: end;
  z-index: 1000;
}

.navbar-logo {
  font-family: "Inter", sans-serif;
  font-size: 25px;
  font-weight: 800;
  letter-spacing: 3px;
  color: aliceblue;
  text-transform: uppercase;
  display: flex;
  height: 3rem;
  align-items: center;
  gap: 0.5rem;
  border: none;
  text-shadow: 1px 1px 5px black;
}

.contact-link {
  font-family: "Source Sans 3", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  transition: color 0.3s ease;
  padding: 0.5rem 2rem;
  border: 2px solid transparent;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  text-decoration: none;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.contact-link {
  border: 2px solid aliceblue;
  border-radius: 5px;
  color: aliceblue;
  background-color: transparent;
}

.contact-link:hover {
  color: black;
  background-color: aliceblue;
}

.navbar-link:hover {
  color: var(--color-aqua);
}
