.loading {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--bg-color);
  position: relative;
}

.loading__spinner {
  width: 10rem;
  height: 10rem;
  border: 10px solid rgba(255, 255, 255, 0.2);
  border-top: 10px solid var(--color-aqua);
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

.loading__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 5rem;
  width: 5rem;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
