.loading {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--bg-color);
}

.loading__spinner {
  width: 50rem;
  height: 50rem;
  border: 4px solid rgba(255, 255, 255, 0.2);
  border-top: 4px solid var(--color-aqua);
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
