#home {
  display: flex;
  width: fit-content;
  align-items: center;
  height: 100%;
}

.headline-underline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: fit-content;
  width: fit-content;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.headline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: visible;
}

.headline-header {
  font-size: 3.5rem;
  line-height: 4rem;
  color: aliceblue;
  overflow: visible;
}

.subheadline {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
}

.subheadline p {
  font-size: 18px;
  line-height: 24px;
  color: aliceblue;
}

.about-link {
  display: flex;
  font-size: 1.25rem;
  color: var(--color-aqua);
  align-items: center;
  justify-content: flex-start;
  height: 2rem;
}

.about-link span {
  display: flex;
  align-items: center;
  margin: 0.5rem;
  height: 100%;
  transition: transform 300ms ease;
}

.about-link:hover span {
  transform: rotate(90deg);
}

.hero-img {
  display: flex;
  position: relative;
  flex-shrink: 0;
  max-width: 20rem;
  height: auto;
  transition: filter 300ms ease;
  margin: 0 2rem;
}

.hero-img:hover {
  filter: drop-shadow(var(--shadow-aqua));
}

.hero-img .dot {
  position: absolute;
  font-size: 30px;
  color: var(--color-aqua);
  bottom: 171.2px;
  left: 174px;
  animation: blink 1s infinite;
  text-shadow: 5px -2px 1px rgba(0, 0, 0, 0.13);
  rotate: y -40deg;
  z-index: 10000;
}

@keyframes blink {
  0%,
  50% {
    visibility: visible;
  }
  50.01%,
  100% {
    visibility: hidden;
  }
}
