.home {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 2rem;
}

<<<<<<< HEAD
.home__headline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
=======
.headline-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: visible;
  align-items: start;
>>>>>>> 2dd8a14 (Latest)
  gap: 2rem;
  max-width: 35rem;
}

<<<<<<< HEAD
.home__headline h1 {
  line-height: 4rem;
  color: aliceblue;
}

.home__headline p {
  font-size: 1.125rem;
  line-height: 1.6;
  color: aliceblue;
}

.home__link {
=======
.headline-container h1 {
  font-size: 3.5rem;
  line-height: 4rem;
  color: aliceblue;
  overflow: visible;
  max-width: 100%;
}

.headline-container p {
  font-size: 18px;
  line-height: 24px;
  color: aliceblue;
  max-width: 100%;
}

.headline-container a {
>>>>>>> 2dd8a14 (Latest)
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  color: var(--color-aqua);
  text-decoration: none;
}

<<<<<<< HEAD
.home__link-icon {
=======
.headline-container a span {
>>>>>>> 2dd8a14 (Latest)
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
  transition: transform 300ms ease;
}

<<<<<<< HEAD
.home__link:hover .home__link-icon {
  transform: rotate(90deg);
}

.home__image {
=======
.headline-container a:hover span {
  transform: rotate(90deg);
}

.hero-image {
  display: flex;
>>>>>>> 2dd8a14 (Latest)
  position: relative;
  max-width: 400px;
  flex-shrink: 0;
  transition: filter 300ms ease;
}

<<<<<<< HEAD
.home__image:hover {
  filter: drop-shadow(var(--shadow-aqua));
}

.home__dot {
=======
.hero-image:hover {
  filter: drop-shadow(var(--shadow-aqua));
}

.hero-image .dot {
>>>>>>> 2dd8a14 (Latest)
  position: absolute;
  bottom: 170px;
  left: 174px;
  font-size: 30px;
  color: var(--color-aqua);
  animation: blink 1s infinite;
  text-shadow: 5px -2px 1px rgba(0, 0, 0, 0.13);
  z-index: 10;
}

@keyframes blink {
  0%,
  50% {
    opacity: 1;
  }
  50.01%,
  100% {
    opacity: 0;
  }
}

@media (max-width: 1024px) {
  .home__headline {
    gap: 1.5rem;
    max-width: 100%;
  }

  .home__headline h1 {
    line-height: 2.5rem;
  }

  .home__headline p {
    font-size: 1rem;
    line-height: 1.3;
  }

  .home__link {
    font-size: 1.125rem;
  }
}

@media (max-width: 767px) {
  .home {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
  }

  .home__headline {
    gap: 1.5rem;
    max-width: 100%;
    order: 1;
  }

  .home__headline h1 {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }

  .home__headline p {
    font-size: 1rem;
    line-height: 1.3;
  }

  .home__link {
    font-size: 1.125rem;
  }
}
