#home {
  display: flex;
  width: fit-content;
  align-items: center;
  height: 100%;
}

.headline-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: visible;
  align-items: start;
  gap: 2rem;
  max-width: 35rem;
}

.headline-container h1 {
  font-size: 3.5rem;
  line-height: 4rem;
  color: aliceblue;
  overflow: visible;
  max-width: 100%;
}

.headline-container p {
  font-size: 18px;
  line-height: 24px;
  color: aliceblue;
  max-width: 100%;
}

.headline-container a {
  display: flex;
  font-size: 1.25rem;
  color: var(--color-aqua);
  align-items: center;
  justify-content: flex-start;
  height: 2rem;
}

.headline-container a span {
  display: flex;
  align-items: center;
  margin: 0.5rem;
  height: 100%;
  transition: transform 300ms ease;
}

.headline-container a:hover span {
  transform: rotate(90deg);
}

.hero-image {
  display: flex;
  position: relative;
  flex-shrink: 0;
  max-width: 400px;
  height: auto;
  transition: filter 300ms ease;
  margin: 0 2rem;
}

.hero-image:hover {
  filter: drop-shadow(var(--shadow-aqua));
}

.hero-image .dot {
  position: absolute;
  font-size: 30px;
  color: var(--color-aqua);
  bottom: 171.2px;
  left: 174px;
  animation: blink 1s infinite;
  text-shadow: 5px -2px 1px rgba(0, 0, 0, 0.13);
  rotate: y -40deg;
  z-index: 10000;
}

@keyframes blink {
  0%,
  50% {
    visibility: visible;
  }
  50.01%,
  100% {
    visibility: hidden;
  }
}
