.hero {
  display: flex;
  flex-direction: column;
}

.headline {
  display: flex;
  flex-direction: column;
}

.headline h1 {
  font-size: 60px;
  color: aliceblue;
  font-weight: 600;
  line-height: 50px;
}

.subheadline {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
}

.subheadline p {
  font-size: 18px;
  line-height: 24px;
  color: aliceblue;
}

.about-link {
  display: flex;
  font-size: 1.25rem;
  color: var(--color-aqua);
  align-items: center;
  justify-content: flex-start;
  height: 2rem;
  align-items: center;
}

.about-link span {
  display: flex;
  align-items: center;
  margin: 0.5rem;
  height: 100%;
  transition: transform 300ms ease;
}

.about-link:hover span {
  transform: rotate(90deg);
}

.hero-img {
  display: flex;
  position: relative;
}

.hero-img .dot {
  position: absolute;
  font-size: 30px;
  color: var(--color-aqua);
  bottom: 171px;
  left: 175px;
}
