.projects {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  height: 100vh;
  overflow-y: scroll;
}

.projects__section {
  height: 100vh;
  width: 100vw;
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  padding: 0 4rem;
}

.projects__section[data-horizontal="true"] {
  padding: 0;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
}

.projects__section > div {
  height: auto;
  width: auto;
  flex: 0 0 auto;
  max-width: 100%;
  box-sizing: border-box;
}

.projects__section img {
  display: block;
  max-width: 100%;
  height: auto;
}

.laptop {
  width: clamp(500px, 40vw, 600px);
  height: auto;
  flex-shrink: 1;
  transition:
    filter 300ms ease,
    transform 300ms ease;
}

.laptop:hover {
  filter: drop-shadow(var(--shadow-aqua));
  transform: scale(1.1);
}

.projects h1 {
  line-height: 4rem;
  color: aliceblue;
}

.projects p {
  font-size: 1.125rem;
  line-height: 1.6;
  color: aliceblue;
}

.projects p strong {
  color: var(--color-lava);
}

.projects a {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  color: var(--color-aqua);
  text-decoration: none;
}

.projects a span {
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
  transition: transform 300ms ease;
}

.projectsa:hover span {
  transform: translate(0.5rem);
}

@media (max-width: 1024px) {
  .projects__section {
    padding: 0 2rem;
  }

  .buildsync-sec__headline h1 {
    line-height: 2.5rem;
  }

  .buildsync-sec__headline p {
    font-size: 1rem;
    line-height: 1.3;
  }

  .buildsync-sec__headline a {
    font-size: 1.125rem;
  }
}

@media (max-width: 767px) {
  .buildsync-sec__headline h1 {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }

  .buildsync-sec__headline p {
    font-size: 1rem;
    line-height: 1.3;
  }

  .buildsync-sec__headline a {
    font-size: 1.125rem;
  }
}
