.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 4rem;
  margin: 1.5rem;
  height: fit-content;
  gap: 0.5rem;
}

.skill-image {
  width: 4rem;
  height: 4rem;
  flex-shrink: 0;
  filter: none;
  transition: filter 0.3s ease;
}

.skill-image:hover {
  filter: grayscale(100%) brightness(120%);
}

.skill-name {
  font-size: 1rem;
  color: aliceblue;
  font-weight: 600;
  cursor: default;
  transition: color 0.3s ease;
}

.skill:hover .skill-name {
  color: var(--color-aqua);
}
