.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 5rem;
  margin: 2rem;
  height: 6.5rem;
}

.skill-image {
  width: 4.5rem;
  height: 4.5rem;
  margin-bottom: 10px;
  filter: grayscale(100%) brightness(120%);
  transition: filter 0.3s ease;
}

.skill-image:hover {
  filter: none;
}

.skill-name {
  font-size: 1rem;
  color: white;
  font-weight: 600;
}
