.project-main {
  display: flex;
  height: 100%;
  max-width: 100%;
  align-items: start;
}

.project-main__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  flex-shrink: 0;
  gap: 1rem;
  max-width: 30rem;
}

.project-main__description {
  font-size: 18px;
  line-height: 24px;
  color: aliceblue;
  text-align: center;
  max-width: 35rem;
}

.project-main__button {
  display: flex;
  font-size: 1.25rem;
  color: var(--color-lava);
  align-items: center;
  height: 2rem;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.project-main__button svg path {
  fill: var(--color-lava);
}

.project-main__button-icon {
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
  transition: transform 0.3s ease;
}

.project-main__button:hover .project-main__button-icon {
  transform: translateX(0.5rem);
}
