.project-main {
  display: flex;
  height: 100%;
  max-width: 100%;
  align-items: start;
}

.project-main .project__main-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  height: 100%;
  width: 100%;
  flex-shrink: 0;
  gap: 1rem;
  max-width: 30rem;
}

.project-main p {
  font-size: 18px;
  line-height: 24px;
  color: aliceblue;
  text-align: center;
  max-width: 35rem;
}

.project-main button {
  display: flex;
  font-size: 1.25rem;
  color: var(--color-lava);
  align-items: center;
  height: 2rem;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.project-main button svg path {
  fill: var(--color-lava);
}

.project-main button span {
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
  transition: transform 0.3s ease;
}

.project-main button:hover span {
  transform: translateX(0.5rem);
}
